{:tasks
 {:requires ([clojure.string :as str])

  clean {:doc "Run cleanup"
         :task (clojure "-T:build clean")}

  lint {:doc "Run linters"
        :task (case (first *command-line-args*)
                "fix" (shell "cljstyle fix src build.clj deps.edn project.clj bb.edn")
                (do
                  (shell "cljstyle check src build.clj deps.edn project.clj bb.edn")
                  (shell "clj-kondo --lint src build.clj")))}

  compile-fuzzers {:doc "Compile fuzzers"
                   :depends [clean]
                   :task (clojure "-T:build compile-fuzzers")}

  fuzz {:doc "Fuzz targets"
        :depends [compile-fuzzers]
        :task (clojure (format "-M:fuzz %s" (str/join \space *command-line-args*)))}}}
